
@page "/menu"

<div class="contenedorh">
    <div class="row ">
        <div class="col-md-9">
            <div class="row">
                <div class="col text-center mt-4 mb-3 ml-3 pl-3">
                    <a href="" style="text-decoration:none;">
                        <div class="card border-primary shadow">
                            <div class="card-header bg-primary text-center text-white" style="height:80px;">
                                <h5 class="mt-2">Productos y Servicios</h5>
                            </div>
                            <div class="card-body text-center">
                                <img style="width: 150px; height: 150px;" class="img-fluid rounded-circle mt-3" src="/Imagenes/Articulos.jpg" alt="Alternate Text" />
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col text-center mt-4 mb-3 ml-3 pl-3">
                    <a href="listadoClientes" style="text-decoration:none;">
                        <div class="card border-success shadow">
                            <div class="card-header bg-success text-center text-white" style="height:80px;">
                                <h5 class="mt-4">Clientes</h5>
                            </div>
                            <div class="card-body text-center">
                                <img style="width: 150px; height: 150px;" class="img-fluid rounded-circle mt-3" src="/Imagenes/Clientes.jpg" alt="Alternate Text" />
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col text-center mt-3 mb-3 ml-3 pl-3">
                    <a href="#" style="text-decoration:none;">
                        <div class="card border-info shadow">
                            <div class="card-header bg-info  text-center text-white">
                                <h5 class="mt-4">Proveedores</h5>
                            </div>
                            <div class="card-body text-center">
                                <img style="width: 150px; height: 150px;" class="img-fluid rounded-circle mt-3" src="/Imagenes/Proveedores.jpg" alt="Alternate Text" />
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col text-center mt-3 mb-3 ml-3 pl-3">
                    <a href="listadoVentas" style="text-decoration:none;">
                        <div class="card border-warning shadow">
                            <div class="card-header bg-warning  text-center text-white">
                                <h5 class="mt-4">Ventas</h5>
                            </div>
                            <div class="card-body text-center">
                                <img style="width: 150px; height: 150px;" class="img-fluid rounded-circle mt-3" src="/Imagenes/Ventas.jpg" alt="Alternate Text" />
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col text-center mt-3 mb-3 ml-3 pl-3">
                    <a href="" style="text-decoration:none;">
                        <div class="card border-success shadow">
                            <div class="card-header bg-success  text-center text-white">
                                <h5 class="mt-4">Ciclos</h5>
                            </div>
                            <div class="card-body text-center">
                                <img style="width: 150px; height: 150px;" class="img-fluid rounded-circle mt-3" src="/Imagenes/Ciclos.jpg" alt="Alternate Text" />
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col text-center mt-3 mb-3 ml-3 pl-3">
                    <a href="" style="text-decoration:none;">
                        <div class="card border-danger shadow">
                            <div class="card-header bg-danger text-center text-white">
                                <h5 class="mt-4">Contratos</h5>
                            </div>
                            <div class="card-body text-center">
                                <img style="width: 150px; height: 150px;" class="img-fluid rounded-circle mt-3" src="/Imagenes/Contratos.jpg" alt="Alternate Text" />
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col text-center mt-3 mb-3 ml-3 pl-3">
                    <a href="listadoUsuarios" style="text-decoration:none;">
                        <div class="card border-primary shadow">
                            <div class="card-header bg-primary text-center text-white">
                                <h5 class="mt-4">Usuarios</h5>
                            </div>
                            <div class="card-body text-center">
                                <img style="width: 150px; height: 150px;" class="img-fluid rounded-circle mt-3" src="/Imagenes/Usuarios.jpg" alt="Alternate Text" />
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col text-center mt-3 mb-3 ml-3 pl-3">
                    <a href="listadoDiapositivas" style="text-decoration:none;">
                        <div class="card border-warning shadow">
                            <div class="card-header bg-warning text-center text-white">
                                <h5 class="mt-4">Diapositivas</h5>
                            </div>
                            <div class="card-body text-center">
                                <img style="width: 150px; height: 150px;" class="img-fluid rounded-circle mt-3" src="/Imagenes/Diapositivas.jpg" alt="Alternate Text" />
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col text-center mt-3 mb-3 ml-3 pl-3">
                    <a href="" style="text-decoration:none;">
                        <div class="card border-dark shadow">
                            <div class="card-header bg-dark  text-center text-white">
                                <h5 class="mt-4">Configuración</h5>
                            </div>
                            <div class="card-body text-center">
                                <img style="width: 150px; height: 150px;" class="img-fluid rounded-circle mt-3" src="/Imagenes/Configuracion.jpg" alt="Alternate Text" />
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>
