@using ScaGuerrero.Shared
@using System.IO
@using System.Drawing;
@using System.Drawing.Imaging;
@inject HttpClient http
@inject NavigationManager Navigate

<EditForm Model="@oDiapositivasVM" OnValidSubmit="GuardarDatos">
    <DataAnnotationsValidator />
    <div class="container-fluid img-fluid p-2">
        <div class="row ">
            <div class="col-3">
                <div class="card">
                    <div class="card-header">
                        <h3>Mensajes</h3>
                    </div>
                    <div class="card-body">
                        <ValidationSummary />
                    </div>
                </div>
            </div>
            <div class="col-7">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h5 class="card-title">@Titulo</h5>
                    </div>                    
                </div>
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="nav-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="nav-Generales-tab" data-bs-toggle="tab"
                                   href="#nav-Generales" role="tab" aria-controls="nav-Generales"
                                   aria-selected="true">Generales</a>
                            </li>                            
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active border  p-4" id="nav-Generales" role="tabpanel" aria-labelledby="nav-Generales-tab">
                                <div class="row">
                                    <div class="col-sm-7">
                                        
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label">Descripcion</label>
                                                    <InputText @bind-Value="oDiapositivasVM.Descripcion" class="form-control" />
                                                    <ValidationMessage For="@(() => oDiapositivasVM.Descripcion)" />
                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="card">
                                            <img style="height:380px;" id="imgSeleccionada" src="@imageDataUri" class="card-img-top rounded-top p-2">
                                            <label for="subidaArchivo" class="btn btn-primary mx-2"> Seleccione un Archivo...</label>
                                            <InputFile id="subidaArchivo" OnChange="VerImagen" hidden />
                                        </div>
                                    </div>
                                </div>
                            </div>                                                        
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class=" col-sm-2">
                                <input type="submit" class="form-control btn btn-success" value="Aceptar" />
                            </div>
                            <div class="col-sm-2">
                                <NavLink href="/ListadoDiapositivas">
                                    <input class="form-control btn btn-warning" value="Regresar" />
                                </NavLink>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</EditForm>
@code {
    [Parameter]
    public string Titulo { get; set; }
    [Parameter]
    public DiapositivasVM oDiapositivasVM { get; set; } = new();
    public ImagenesVM oImagenesVM { get; set; } = new();
    public long maxFileSize = 640 * 480 * 15;
    [Parameter]
    public string imageDataUri { get; set; }
    public int IdImagen { get; set; }

    public async Task GuardarDatos()
    {
        bool res = await http.PostJsonAsync<bool>("api/Diapositivas/Guardar", oDiapositivasVM);
        if (res == true)
        {

            Navigate.NavigateTo("/menu");
        }
    }

    public async Task VerImagen(InputFileChangeEventArgs e)
    {
        var imageFile = await e.File.RequestImageFileAsync("image/*", 640, 480);

        using Stream fileStream = imageFile.OpenReadStream(maxFileSize);
        using MemoryStream ms = new();
        await fileStream.CopyToAsync(ms);

        imageDataUri = $"data:image/*;base64,{Convert.ToBase64String(ms.ToArray())}";
        oImagenesVM.Id = oDiapositivasVM.IdImagen;
        oImagenesVM.BlobImagen = ms.ToArray();
        oDiapositivasVM.IdImagen = await http.PostJsonAsync<int>("/api/Imagenes/Guardar", oImagenesVM);
    }
}
