<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content p-2">
            <div class="modal-body">
                <h5>@Mensaje</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" >Aceptar</button>
            </div>
        </div>
    </div>
</div>

@code {


    [Parameter]
    public string TituloMensaje { get; set; }
    [Parameter]
    public string Mensaje { get; set; }         
}
